{
	"objectives": [
		"Awareness overtime", 
		"WoM volume"
	],
	"problems": {
		"MOABM_calibration": {
			"title": 		"Multiobjective ABM calibration",
			"description": 	"Multiobjective model calibration using evolutionary algorithms"
		},
		"TSALBP": {
			"title": 		"TSALBP",
			"description": 	"TSALBP"
		},
	},
	"algorithms": {
		"NSGAII": 	"NSGA-II",
		"MOEAD": 	"MOEA/D",
		"SPEA2": 	"SPEA2",
	},
	"settings": {
		"robustnessRange": [0.25, 1]
	}
}